body {
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, sans-serif;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: center;
    animation: slideUp 0.5s ease-out;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container>img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding-right: 15%;
    padding-left: 15%;
}

a {
    background-color: #2e89eb;
    text-decoration: none;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 20px;
    animation: slideUp 0.5s ease-out;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

a:hover {
    opacity: 1
}

@media (min-width: 1024px) {
    .links-container {    
        padding-right: 30%;
        padding-left: 30%;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}